.header {
    background-color: #4608AD;
}

.header-bloc {
    display: flex;
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.header-bloc-title {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-bottom: 1%;
}

@media screen and (max-width: 1000px){
    .btn-devis{
        font-size: 15px !important;
    }
    .header-bloc {
        padding-top: 30%;
    }
    .header-bloc-list{
        padding: 0px;
        margin: 3%;
    }
    .header-bloc-title{
        font-size: 35px;
        margin-bottom: 4%;
    }
}

.header-bloc-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-bottom: 4%;
}

.header-bloc-list-one {
    padding-bottom: 10px;
}

li {
    display: inline;
    margin-right: 16px;
    align-items: end;
}

.navbar {
    background-color: #4608AD;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-shadow: 2px 2px 12px #4608AD;
}

.btn-devis {
    border: 0px solid #FFFF99;
    background-color: #FFFF99 !important;
    color: black;
    font-weight: 650;
    font-size: 23px !important;
    padding-left: 30px;
    padding-right: 30px;
    float: inline-end;
}