.question {
    margin-top: 5%;
}

.question-title {
    font-size: 25px;
    color: blacks;
    font-weight: bold;
}

.question-bloc {
    margin-bottom: 5%;
}

.table-head {
    background-color: #E7E6E6;
}

.devis {
    padding: 2%;
    box-shadow: 1px 1px 12px #555;
}

.devis-info-client {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.date-devis {
    display: flex;
    flex-direction: row;
}

.date-devis-bloc {
    border: 1px solid #9e9e9e;
    padding: 0.7%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.date-titre {
    background-color: #E7E6E6;
}

.date-devis-bloc p {
    display: contents;
}


input {
    border: 0px;
    background-color: #dcecfb77;
}

.total,
.total-bloc {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.total {
    padding-top: 20%;
}



.total-bloc-titre {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E7E6E6;
    border: 1px solid #9e9e9e;
    padding: 3%;
}

.total-bloc-prix {
    border: 1px solid #9e9e9e;
    padding: 3%;
}

.total-bloc-one,
.total-bloc-two {
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.bloc-devis {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 1000px) {

    .devis-info,
    .de {
        margin-bottom: 10%;
    }

    .question {
        padding: 4%;
    }

    .bloc-devis {
        display: flex;
        flex-direction: column-reverse;
    }

    .reglage {
        margin-bottom: 10%;
    }

    .tbl {
        overflow: auto;
    }

    .groupe-btn-telecharge {
        margin-top: 4%;
        display: flex;
        flex-direction: column !important;
    }

    .groupe-btn {
        margin-bottom: 5%;
    }

    .total {
        display: flex;
        flex-direction: column;
    }
}

.reglage-bloc {
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 3%;

}

.reglage {
    box-shadow: 1px 1px 12px #555;
}

.reglage p {
    font-size: 20px;
}

.reglage-bloc-btn {
    padding-top: 5%;
    padding-bottom: 5%;
}

.reglage-col {
    display: flex;
    justify-content: flex-end;
}

.reglage-btn {
    font-size: 13px;
    border: 1px solid black;
    border-radius: 0;
}

.btn-right {
    border-left-width: 0;
}

.reglage-bloc-title {
    background-color: #E6EBF3;
    font-size: 25px;
    font-weight: bold;
    padding: 5%;
}

.tab-add-ligne {
    border-radius: 50px;
    font-weight: bold;
    color: white;
}

.add-Column {
    display: flex;
    justify-content: center;
    align-items: center;
}

.groupe-btn {
    background-color: white;
    font-size: 23px;
    font-weight: bold;
}

.groupe-btn-telecharge {
    padding-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.add-Column-btn {
    cursor: pointer;
}

.prixTotal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-telecharger {
    display: grid;
    margin-top: 5%;
    margin-bottom: 7%;
}
.telecharger{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-telecharger button {
    font-size: 20px;
}

@media print {

    /* Styles pour l'impression */
    .no-print {
        display: none;
    }

    /* Autres styles d'impression */
}